body {
    background-image: url(bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#content {
    background-color: #f7f7f77f;
}

:target {
    background-color: #ffff00;
}
